<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>学生首页</title>

  <!--Semantic-UI CSS-->
  <link rel="stylesheet" href="../../static/lib/semantic/semantic.min.css" th:href="@{/lib/semantic/semantic.min.css}">
</head>

<body>
<nav class="ui fixed menu inverted">
  <div class="ui container"></div>
</nav>

<!--Semantic-UI JavaScript-->
<script src="../../static/lib/semantic/semantic.min.js" th:src="@{/lib/semantic/semantic.min.jss}"></script>
</body>
</html>