a {
    text-decoration-line: none;
    color: #abc1ee;
}

.back {
    height: 100%;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.login-wrapper {
    border-radius: 25px;
    top: 50%;
    transform: translate(0,-50%);
}

.login-title {
    color: #55acee;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    line-height: 3em
}

.login-input {
    padding-top: 0;
}

.login-btn {
    margin-top: 2em;
    height: 55px;
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    font-size: 20px;
}

.msg {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

/*
    翻转特效
 */
.card-front {

}

.card-back {
    display: none;
}